<div class="space-y-4 ml-2">
  <button class="btn btn-blue" routerLink="/homePage">HomePage</button>
  <br />
  <input
    type="file"
    style="display: none"
    (change)="onFileSelected($event)"
    #fileInput
    multiple
  />
  <button type="button" class="btn btn-blue" (click)="fileInput.click()">
    Scegli un file
  </button>
  <br />
  <button type="button" class="btn btn-blue" (click)="getFileNames()">
    {{ viewNames ? "Nascondi" : "Mostra" }} i nomi dei file
  </button>
  <ng-container *ngIf="viewNames">
    <table class="table-auto border-solid border-2 border-sky-500">
      <ng-container *ngFor="let name of fileNames">
        <tr class="border-solid border-2 border-sky-500">
          <td (click)="viewFile($event)" class="cursor-pointer">
            {{ name }}
          </td>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <ng-container *ngIf="viewSelectedFile">
    <p>{{ name }}</p>
    <button class="btn btn-blue" (click)="downloadFile()">Download</button>
    <button class="btn btn-blue" (click)="deleteFile()">Delete</button>
  </ng-container>
</div>
<!-- <ng-container *ngIf="showModal">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
    <div class="relative my-6 mx-auto w-[50%] h-[70%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-white outline-none focus:outline-none"
      >
        <div
          class="flex items-start justify-between p-5 border-solid rounded-t h-[100%]"
        >
          <button
            class="p-1 ml-[90%] absolute bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="toggleModal()"
          >
            x
          </button>
          <div class="flex flex-row-reverse h-[80%] w-[100%]">
            <div class="grid mr-[15%] mt-[7%] w-[100%]">
              <p class="text-xl font-bold">Carica allegati</p>
              <div class="mt-[5%]">
                <ng-container *ngIf="selectedFile.length !== 0; else bottone">
                  File allegati
                  <div
                    class="w-[100%] mt-[2%] border-2 border-slate-500 rounded max-h-52 overflow-auto"
                  >
                    <ul
                      class="my-[1%] ml-[1%] space-y-4 text-left text-gray-800"
                    >
                      <ng-container *ngFor="let file of selectedFile">
                        <li class="flex items-center">
                          <div class="flex items-center w-[100%]">
                            {{ file.name }}
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </ng-container>
                <ng-template #bottone>
                  <div class="flex justify-end">
                    <button
                      type="button"
                      class="btn btn-blue w-[41%]"
                      (click)="fileInput.click()"
                    >
                      Scegli un file
                    </button>
                  </div>
                </ng-template>
              </div>
              <div class="space-x-2 mt-[2%] flex justify-end align-bottom">
                <button
                  type="button"
                  class="btn btn-blue h-[100%] w-[20%]"
                  (click)="clearFiles()"
                >
                  Reset
                </button>
                <button
                  type="button"
                  class="btn btn-blue h-[100%] w-[20%]"
                  (click)="onUpload()"
                >
                  Allega
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container> -->
<button class="btn btn-blue mt-4 ml-2" (click)="toggleMyModal()">
  My Modal
</button>
<ng-container *ngIf="myModal">
  <!-- Parte esterna -->
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-40 outline-none focus:outline-none justify-center items-center flex"
  >
    <!-- Rettangolo effettivo della modale, qui si regolano le dimensioni -->
    <div class="relative my-6 mx-auto w-[50%] h-[70%]">
      <!-- Rettangolo con i bordi arrotondati, le dimensioni sono esattamente uguali al div soprastante -->
      <div
        class="rounded-lg shadow-lg relative flex flex-col w-full h-full bg-white outline-none focus:outline-none"
      >
        <!-- X -->
        <span
          class="rounded bg-blue-400 absolute material-icons cursor-pointer text-white right-2 top-2 font-extrabold flex align-middle"
          (click)="toggleMyModal()"
        >
          close
        </span>
        <!-- Content -->
        <div class="w-[100%] h-[100%]">
          <ng-container *ngIf="selectedFile.length !== 0; else bottone">
            <div class="mt-[1.5%] ml-[2%] space-y-[4%]">
              <p class="text-2xl font-bold">Carica allegati</p>
              <p>Scegli uno o più file da allegare al rapportino</p>
              <p>File allegati</p>
            </div>
            <div class="flex justify-center">
              <div
                class="mt-[2%] border-2 border-slate-500 rounded w-[90%] max-h-60 overflow-auto"
              >
                <ul class="my-[1%] ml-[1%] space-y-4 text-left text-gray-800">
                  <ng-container *ngFor="let file of selectedFile">
                    <li class="flex items-center">
                      <div class="flex items-center w-[100%]">
                        <div>{{ file.name }}</div>
                        <div class="w-[100%] flex justify-end mr-[1%]">
                          <span
                            class="material-icons cursor-pointer text-red-600"
                            (click)="removeFile(file.name)"
                          >
                            close
                          </span>
                        </div>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="absolute bottom-3 right-3 space-x-2">
              <button class="btn btn-reset">reset</button>
              <button class="btn btn-allega">ALLEGA</button>
            </div>
          </ng-container>
          <ng-template #bottone>
            <div
              class="h-[100%] w-[100%] flex flex-col space-y-[3%] justify-center items-center"
            >
              <p>Scegli uno o più file da caricare</p>
              <button
                type="button"
                class="btn btn-blue w-[30%] h-[10%]"
                (click)="fileInput.click()"
              >
                Seleziona
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-30 bg-black"></div>
</ng-container>
