<div>
  <input
    class="mt-[5%] shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
    type="text"
    [(ngModel)]="username"
    placeholder="Username"
  />
  <input
    class="mt-[5%] shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
  />
  <button type="button" class="mt-[5%] btn" (click)="submit()">
    Registrati
  </button>
  <p>{{ msg }}</p>
  <p>Hai già un account? <a href="/login">Accedi</a></p>
</div>
