<div class="mt-2 ml-2 space-x-2">
  <input
    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
    type="text"
    [(ngModel)]="username"
    placeholder="Username"
  />
  <input
    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
  />
  <button type="button" class="btn btn-blue" (click)="submit()">
    Registrati
  </button>
  <p>{{ msg }}</p>
  <div class="mt-5">
    <p>Hai già un account? <a href="/login" class="btn btn-blue">Accedi</a></p>
  </div>
</div>
