<button class="mt-2 ml-2 btn btn-blue" routerLink="/homePage">HomePage</button>

<div class="text-center">
  <select
    [(ngModel)]="page"
    class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-[10%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <ng-container *ngFor="let page of pages">
      <option (click)="changedIndex()" [value]="page">{{ page + 1 }}</option>
    </ng-container>
  </select>
  <p>Pagina {{ page2 }} di {{ pages.length }}</p>
</div>

<div class="grid grid-cols-12 w-[100%] mt-[3%]">
  <div class="col-span-3">
    <div
      class="cursor-pointer mr-2 justify-end flex items-center h-[100%]"
      (click)="indietro()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
        />
      </svg>
    </div>
  </div>
  <div class="col-span-6 relative overflow-x-auto w-[100%]">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            Username
            <div *ngIf="flagUsername; else invUsername">
              <div (click)="invertedUsername()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 15.75l7.5-7.5 7.5 7.5"
                  />
                </svg>
              </div>
            </div>
            <ng-template #invUsername>
              <svg
                (click)="invertedUsername()"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </ng-template>
          </th>
          <th scope="col" class="px-6 py-3">
            ID
            <div *ngIf="flagId; else invId">
              <div (click)="invertedId()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 15.75l7.5-7.5 7.5 7.5"
                  />
                </svg>
              </div>
            </div>
            <ng-template #invId>
              <svg
                (click)="invertedId()"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </ng-template>
          </th>
          <th scope="col" class="px-6 py-3">
            Role
            <div *ngIf="flagRole; else invRole">
              <div (click)="invertedRole()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 15.75l7.5-7.5 7.5 7.5"
                  />
                </svg>
              </div>
            </div>
            <ng-template #invRole>
              <svg
                (click)="invertedRole()"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of currentUsers">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td
              (click)="showMarkers(user)"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white cursor-pointer"
            >
              {{ user.username }}
            </td>
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.id }}
            </td>
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.role }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-span-3">
    <div
      class="cursor-pointer ml-2 flex items-center h-[100%]"
      (click)="avanti()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
        />
      </svg>
    </div>
  </div>
</div>
<div>
  <ng-container *ngIf="showMarker">
    <p>{{ currentUserMarkers }}</p>
  </ng-container>
</div>
