<button class="mt-2 ml-2 btn btn-blue" routerLink="/homePage">HomePage</button>
<div class="grid grid-cols-12 w-[100%] mt-[3%]">
  <div class="col-span-3">
    <ng-container *ngIf="index !== 0"
      ><div class="cursor-pointer" (click)="indietro()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg></div
    ></ng-container>
  </div>
  <div class="col-span-6 relative overflow-x-auto w-[100%]">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Username</th>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Role</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of currentUsers">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.username }}
            </td>
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.id }}
            </td>
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ user.role }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-span-3">
    <ng-container *ngIf="users.length > index + 5"
      ><div class="cursor-pointer" (click)="avanti()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          />
        </svg></div
    ></ng-container>
  </div>
</div>
